# Run with job if README was changed.
name: Update README

on:
  push:
    branches: [ "main" ]
    paths:
      - 'README.md'
  pull_request:
    branches: [ main ]
      
jobs:
 README:
    runs-on: ubuntu-latest
    steps:
      - run: echo 'README was changed'
